@font-face {
  font-family: "font-game";
  src: url("./assets/fonts/Pony.ttf");
}
.gameOanTuTi {
  background-image: url("./assets/img/bgGame.png");
  height: 100%;
  width: 100%;
  background-size: 100%;
  position: fixed;
  font-family: "font-game";
}
.Player {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btnPlayer {
  background-color: rgb(95, 114, 114);
  border: none;
  /* box-shadow: 0px 0px 17px 2px rgba(247, 231, 6, 0.45); */
}
.Think {
  width: 170px;
  height: 120px;
  background-color: white;
  border-radius: 10px;
  border: 3px solid #45d994;
}
.speech-bubble {
  position: relative;
  background: #45d994;
  border-radius: 0.4em;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 35px solid transparent;
  border-top-color: #45d994;
  border-bottom: 0;
  border-left: 0;
  margin-left: -17.5px;
  margin-bottom: -35px;
}
